<h1 class="mt-4">Salon</h1>

<script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
<script defer src="/home/yassir/applicationReunion/chat.js"></script>

<div id="message-containter">
</div>
<form id="send-container">
    <input type="text" id="message"> 
    <button type="submit" id="send-button">Send</button>


</form>